<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: lightblue;
        }

        input.ng-valid {
            background-color: red;
        }

        input.ng-dirty {
            color:white;
        }
    </style>
</head>

<body>

    <form ng-controller="myCtrl" name="myForm" ng-init="">

        Email:
        <input type="email" name="myAddress" ng-model="myText" required>
        (非法值为蓝色)
        <h1>状态</h1>
        <p>Valid: {{myForm.myAddress.$valid}} (如果输入的值是合法的则为 true)。</p>
        <p>Dirty: {{myForm.myAddress.$dirty}} (如果值改变则为 true)。</p>
        <p>Touched: {{myForm.myAddress.$touched}} (如果通过触屏点击则为 true)。</p>

        <p>ng-empty: {{myForm.myAddress.$ng-empty}} </p>
        <p>ng-valid: {{myForm.myAddress.$ng-valid}} </p>

        <h1>{{carname}}</h1>
    </form>

    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.carname="vivo";
        });
    </script>
</body>
</html>