<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>
    <body ng-app="myApp5">
        <div ng-controller="myCtrl">
            <div ng-bind="myName  | uppercase"></div> <!--uppercase转换成大写-->
            <div ng-bind="myName  | lowercase"></div> <!--lowercase转换成小写-->
            <!--currency 过滤器将数字格式化为货币格式-->
            <div class="" ng-bind="money | currency : '￥'"> </div>
            <div class="" ng-repeat="v in city | orderBy:'id'">
                <p ng-bind="v.name"></p>
            </div><!--orderBy 过滤器根据表达式排列数组-->

            <div class="" ng-repeat="v in city | orderBy:'-id' | filter:''">
                <p ng-bind="v.name" style="color:red;"></p>
            </div>
            <!--自定义过滤器aa-->
            <div class="" ng-bind="myName | aa" style="color:blue;">
            </div>
            <div>
                <p>newString:{{"jj" | myfilter:1:2:3:5}}</p>
            </div>
        </div>

        <script>
            var app = angular.module('myApp5',[]);
            app.controller('myCtrl',function($scope){
                $scope.myName="chEnBiN";
                $scope.money=101.1;
                $scope.city=[
                    {"id":"1","name":"福建"},
                    {"id":"2","name":"广东"},
                    {"id":"5","name":"上海"},
                    {"id":"4","name":"北京"},
                    {"id":"3","name":"四川"}
                ]
            });

            app.filter('aa',function(){
                //自定义过滤器，aa为自定义过滤名称 ，
                //val为穿参，split("")将val切割成数组，
                //reverse()将数组反转，join("")将数组变成字符串
                return function(val){
                    return val.split("").reverse().join("");
                }
            });

            app.filter('myfilter',function(){
                return function(text){
                    var newArguments = Array.prototype.slice.call(arguments);
                    return text+newArguments.join(',');
                }
            });
        </script>
    </body>
</html>